{% extends "template/main.twig" %}

<div class="page-wrapper">
    {% extends "template/top-header.twig" %}
        {% block content %}
    <!--Page Title-->

    <section class="page-banner">

        <div class="image-layer" style="background-image:url(../../images/background/banner-image-2.jpg);"></div>


        <div class="banner-inner">

            <div class="auto-container">

                <div class="inner-container clearfix">

                    <h1>About Us</h1>

                    <div class="page-nav">

                        <ul class="bread-crumb clearfix">

                            <li><a href="index.html">Home</a></li>

                            <li><a href="#">City Govt</a></li>

                            <li class="active">About Us</li>

                        </ul>

                    </div>

                </div>

            </div>

        </div>

    </section>


    <!--Welcome Section-->

    <section class="welcome-section-two alternate">

        <div class="lower-row">

            <div class="auto-container">

                <div class="row clearfix">

                    <div class="text-col col-xl-5 col-lg-6 col-md-12 col-sm-12">

                        <div class="inner">

                            <div class="sec-title with-separator">

                                <h2>The Major Voice of <br>City Government, London</h2>

                                <div class="separator"><span class="cir c-1"></span><span class="cir c-2"></span><span
                                            class="cir c-3"></span></div>

                            </div>

                            <div class="text">Denounce with righteous indignation and dislike men who are so beguiled &
                                demoralized our power of pleasure is to be welcomed.
                            </div>

                            <div class="info">

                                <strong>Brendon Garrey</strong>

                                <span class="designation">mayor, since 21st Oct,2019</span>

                            </div>

                            <div class="video-link">

                                <a href="https://www.youtube.com/watch?v=Get7rqXYrbQ" class="link lightbox-image"><span
                                            class="icon flaticon-play-button-4"></span><span class="txt">History of <br>london city council</span></a>

                            </div>

                        </div>

                    </div>


                    <div class="image-col col-xl-7 col-lg-6 col-md-12 col-sm-12">

                        <div class="images">

                            <div class="row clearfix">

                                <div class="image col-md-6 col-sm-12">

                                    <a class="lightbox-image" data-fancybox="about-gallery"
                                       href="images/resource/featured-image-3.jpg"><img
                                                src="images/resource/featured-image-3.jpg" alt=""></a>

                                </div>

                                <div class="image col-md-6 col-sm-12">

                                    <a class="lightbox-image" data-fancybox="about-gallery"
                                       href="images/resource/featured-image-4.jpg"><img
                                                src="images/resource/featured-image-4.jpg" alt=""></a>

                                </div>

                                <div class="image col-md-4 col-sm-12">

                                    <a class="lightbox-image" data-fancybox="about-gallery"
                                       href="images/resource/featured-image-5.jpg"><img
                                                src="images/resource/featured-image-5.jpg" alt=""></a>

                                </div>

                                <div class="image col-md-4 col-sm-12">

                                    <a class="lightbox-image" data-fancybox="about-gallery"
                                       href="images/resource/featured-image-6.jpg"><img
                                                src="images/resource/featured-image-6.jpg" alt=""></a>

                                </div>

                                <div class="image col-md-4 col-sm-12">

                                    <a class="lightbox-image" data-fancybox="about-gallery"
                                       href="images/resource/featured-image-7.jpg"><img
                                                src="images/resource/featured-image-7.jpg" alt=""></a>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>


    </section>


    <!--Highlights Section-->

    <section class="highlights-section-two">

        <div class="image-layer" style="background-image:url(../../images/background/image-11.jpg);"></div>

        <div class="auto-container">

            <div class="featured-carousel owl-theme owl-carousel">

                <!--Featured Block -->

                <div class="featured-block-five">

                    <div class="inner-box">

                        <div class="count-box"><span>01</span></div>

                        <div class="content">

                            <div class="icon-box"><span class="flaticon-promotion-1"></span></div>

                            <h3><a href="#">Jobs at <br>our city govt</a></h3>

                            <div class="text">We denounce with righteus dislike indignation and dislike demoralized by
                                teh pleasure moment.
                            </div>

                            <div class="read-more"><a href="#"><span class="flaticon-right-2"></span></a></div>

                        </div>

                        <div class="bottom-text">1. Jobs at our city govt</div>

                    </div>

                </div>

                <!--Featured Block -->

                <div class="featured-block-five">

                    <div class="inner-box">

                        <div class="count-box"><span>02</span></div>

                        <div class="content">

                            <div class="icon-box"><span class="flaticon-mall"></span></div>

                            <h3><a href="#">Building <br>and squares</a></h3>

                            <div class="text">We denounce with righteus dislike indignation and dislike demoralized by
                                teh pleasure moment.
                            </div>

                            <div class="read-more"><a href="#"><span class="flaticon-right-2"></span></a></div>

                        </div>

                        <div class="bottom-text">2. Building and squares</div>

                    </div>

                </div>

                <!--Featured Block -->

                <div class="featured-block-five">

                    <div class="inner-box">

                        <div class="count-box"><span>03</span></div>

                        <div class="content">

                            <div class="icon-box"><span class="flaticon-target"></span></div>

                            <h3><a href="#">Partner <br>organisations</a></h3>

                            <div class="text">We denounce with righteus dislike indignation and dislike demoralized by
                                teh pleasure moment.
                            </div>

                            <div class="read-more"><a href="#"><span class="flaticon-right-2"></span></a></div>

                        </div>

                        <div class="bottom-text">3. Partner organisations</div>

                    </div>

                </div>

                <!--Featured Block -->

                <div class="featured-block-five">

                    <div class="inner-box">

                        <div class="count-box"><span>04</span></div>

                        <div class="content">

                            <div class="icon-box"><span class="flaticon-promotion-1"></span></div>

                            <h3><a href="#">Jobs at <br>our city govt</a></h3>

                            <div class="text">We denounce with righteus dislike indignation and dislike demoralized by
                                teh pleasure moment.
                            </div>

                            <div class="read-more"><a href="#"><span class="flaticon-right-2"></span></a></div>

                        </div>

                        <div class="bottom-text">4. Jobs at our city govt</div>

                    </div>

                </div>

                <!--Featured Block -->

                <div class="featured-block-five">

                    <div class="inner-box">

                        <div class="count-box"><span>05</span></div>

                        <div class="content">

                            <div class="icon-box"><span class="flaticon-mall"></span></div>

                            <h3><a href="#">Building <br>and squares</a></h3>

                            <div class="text">We denounce with righteus dislike indignation and dislike demoralized by
                                teh pleasure moment.
                            </div>

                            <div class="read-more"><a href="#"><span class="flaticon-right-2"></span></a></div>

                        </div>

                        <div class="bottom-text">5. Building and squares</div>

                    </div>

                </div>

                <!--Featured Block -->

                <div class="featured-block-five">

                    <div class="inner-box">

                        <div class="count-box"><span>06</span></div>

                        <div class="content">

                            <div class="icon-box"><span class="flaticon-target"></span></div>

                            <h3><a href="#">Partner <br>organisations</a></h3>

                            <div class="text">We denounce with righteus dislike indignation and dislike demoralized by
                                teh pleasure moment.
                            </div>

                            <div class="read-more"><a href="#"><span class="flaticon-right-2"></span></a></div>

                        </div>

                        <div class="bottom-text">6. Partner organisations</div>

                    </div>

                </div>

            </div>

        </div>

    </section>


    <!--Team Section-->

    <section class="team-section alternate">

        <div class="auto-container">

            <div class="sec-title with-separator centered">

                <h2>Meet Council Members</h2>

                <div class="separator"><span class="cir c-1"></span><span class="cir c-2"></span><span
                            class="cir c-3"></span></div>

                <div class="lower-text">Denounce with righteous indignation and dislike men who are so beguiled &
                    demoralized our power of choice.
                </div>

            </div>


            <div class="team-carousel owl-theme owl-carousel">

                <!--Team Block-->

                <div class="team-block">

                    <div class="inner-box">

                        <div class="image-box">

                            <figure class="image"><img src="images/resource/team-image-1.jpg" alt=""></figure>

                            <div class="hover-box">

                                <div class="hover-inner">

                                    <div class="hover-upper">

                                        <div class="icon-box"><span class="flaticon-chat"></span></div>

                                        <h6>Get Touch With Me</h6>

                                    </div>

                                    <div class="hover-lower">

                                        <ul class="info">

                                            <li><a href="tel:+44-800-123-45">+44 800 123 45</a></li>

                                            <li><a href="mailto:elvina@citygov.com">elvina@citygov.com</a></li>

                                        </ul>

                                        <ul class="social-links clearfix">

                                            <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>

                                            <li><a href="#"><span class="fab fa-twitter"></span></a></li>

                                            <li><a href="#"><span class="fab fa-linkedin-in"></span></a></li>

                                        </ul>

                                    </div>

                                </div>

                            </div>

                        </div>

                        <div class="lower-box">

                            <h4><a href="#">Bertram Irvin</a></h4>

                            <div class="designation">Mayor</div>

                        </div>

                    </div>

                </div>

                <!--Team Block-->

                <div class="team-block">

                    <div class="inner-box">

                        <div class="image-box">

                            <figure class="image"><img src="images/resource/team-image-2.jpg" alt=""></figure>

                            <div class="hover-box">

                                <div class="hover-inner">

                                    <div class="hover-upper">

                                        <div class="icon-box"><span class="flaticon-chat"></span></div>

                                        <h6>Get Touch With Me</h6>

                                    </div>

                                    <div class="hover-lower">

                                        <ul class="info">

                                            <li><a href="tel:+44-800-123-45">+44 800 123 45</a></li>

                                            <li><a href="mailto:elvina@citygov.com">elvina@citygov.com</a></li>

                                        </ul>

                                        <ul class="social-links clearfix">

                                            <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>

                                            <li><a href="#"><span class="fab fa-twitter"></span></a></li>

                                            <li><a href="#"><span class="fab fa-linkedin-in"></span></a></li>

                                        </ul>

                                    </div>

                                </div>

                            </div>

                        </div>

                        <div class="lower-box">

                            <h4><a href="#">Elvina Julie</a></h4>

                            <div class="designation">Actuary</div>

                        </div>

                    </div>

                </div>

                <!--Team Block-->

                <div class="team-block">

                    <div class="inner-box">

                        <div class="image-box">

                            <figure class="image"><img src="images/resource/team-image-3.jpg" alt=""></figure>

                            <div class="hover-box">

                                <div class="hover-inner">

                                    <div class="hover-upper">

                                        <div class="icon-box"><span class="flaticon-chat"></span></div>

                                        <h6>Get Touch With Me</h6>

                                    </div>

                                    <div class="hover-lower">

                                        <ul class="info">

                                            <li><a href="tel:+44-800-123-45">+44 800 123 45</a></li>

                                            <li><a href="mailto:elvina@citygov.com">elvina@citygov.com</a></li>

                                        </ul>

                                        <ul class="social-links clearfix">

                                            <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>

                                            <li><a href="#"><span class="fab fa-twitter"></span></a></li>

                                            <li><a href="#"><span class="fab fa-linkedin-in"></span></a></li>

                                        </ul>

                                    </div>

                                </div>

                            </div>

                        </div>

                        <div class="lower-box">

                            <h4><a href="herman-gordon.html">Herman Gordon</a></h4>

                            <div class="designation">Director</div>

                        </div>

                    </div>

                </div>

                <!--Team Block-->

                <div class="team-block">

                    <div class="inner-box">

                        <div class="image-box">

                            <figure class="image"><img src="images/resource/team-image-4.jpg" alt=""></figure>

                            <div class="hover-box">

                                <div class="hover-inner">

                                    <div class="hover-upper">

                                        <div class="icon-box"><span class="flaticon-chat"></span></div>

                                        <h6>Get Touch With Me</h6>

                                    </div>

                                    <div class="hover-lower">

                                        <ul class="info">

                                            <li><a href="tel:+44-800-123-45">+44 800 123 45</a></li>

                                            <li><a href="mailto:elvina@citygov.com">elvina@citygov.com</a></li>

                                        </ul>

                                        <ul class="social-links clearfix">

                                            <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>

                                            <li><a href="#"><span class="fab fa-twitter"></span></a></li>

                                            <li><a href="#"><span class="fab fa-linkedin-in"></span></a></li>

                                        </ul>

                                    </div>

                                </div>

                            </div>

                        </div>

                        <div class="lower-box">

                            <h4><a href="#">Marian Lenora</a></h4>

                            <div class="designation">Speaker</div>

                        </div>

                    </div>

                </div>


                <!--Team Block-->

                <div class="team-block">

                    <div class="inner-box">

                        <div class="image-box">

                            <figure class="image"><img src="images/resource/team-image-1.jpg" alt=""></figure>

                            <div class="hover-box">

                                <div class="hover-inner">

                                    <div class="hover-upper">

                                        <div class="icon-box"><span class="flaticon-chat"></span></div>

                                        <h6>Get Touch With Me</h6>

                                    </div>

                                    <div class="hover-lower">

                                        <ul class="info">

                                            <li><a href="tel:+44-800-123-45">+44 800 123 45</a></li>

                                            <li><a href="mailto:elvina@citygov.com">elvina@citygov.com</a></li>

                                        </ul>

                                        <ul class="social-links clearfix">

                                            <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>

                                            <li><a href="#"><span class="fab fa-twitter"></span></a></li>

                                            <li><a href="#"><span class="fab fa-linkedin-in"></span></a></li>

                                        </ul>

                                    </div>

                                </div>

                            </div>

                        </div>

                        <div class="lower-box">

                            <h4><a href="#">Bertram Irvin</a></h4>

                            <div class="designation">Mayor</div>

                        </div>

                    </div>

                </div>

                <!--Team Block-->

                <div class="team-block">

                    <div class="inner-box">

                        <div class="image-box">

                            <figure class="image"><img src="images/resource/team-image-2.jpg" alt=""></figure>

                            <div class="hover-box">

                                <div class="hover-inner">

                                    <div class="hover-upper">

                                        <div class="icon-box"><span class="flaticon-chat"></span></div>

                                        <h6>Get Touch With Me</h6>

                                    </div>

                                    <div class="hover-lower">

                                        <ul class="info">

                                            <li><a href="tel:+44-800-123-45">+44 800 123 45</a></li>

                                            <li><a href="mailto:elvina@citygov.com">elvina@citygov.com</a></li>

                                        </ul>

                                        <ul class="social-links clearfix">

                                            <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>

                                            <li><a href="#"><span class="fab fa-twitter"></span></a></li>

                                            <li><a href="#"><span class="fab fa-linkedin-in"></span></a></li>

                                        </ul>

                                    </div>

                                </div>

                            </div>

                        </div>

                        <div class="lower-box">

                            <h4><a href="#">Elvina Julie</a></h4>

                            <div class="designation">Actuary</div>

                        </div>

                    </div>

                </div>

                <!--Team Block-->

                <div class="team-block">

                    <div class="inner-box">

                        <div class="image-box">

                            <figure class="image"><img src="images/resource/team-image-3.jpg" alt=""></figure>

                            <div class="hover-box">

                                <div class="hover-inner">

                                    <div class="hover-upper">

                                        <div class="icon-box"><span class="flaticon-chat"></span></div>

                                        <h6>Get Touch With Me</h6>

                                    </div>

                                    <div class="hover-lower">

                                        <ul class="info">

                                            <li><a href="tel:+44-800-123-45">+44 800 123 45</a></li>

                                            <li><a href="mailto:elvina@citygov.com">elvina@citygov.com</a></li>

                                        </ul>

                                        <ul class="social-links clearfix">

                                            <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>

                                            <li><a href="#"><span class="fab fa-twitter"></span></a></li>

                                            <li><a href="#"><span class="fab fa-linkedin-in"></span></a></li>

                                        </ul>

                                    </div>

                                </div>

                            </div>

                        </div>

                        <div class="lower-box">

                            <h4><a href="#">Herman Gordon</a></h4>

                            <div class="designation">Director</div>

                        </div>

                    </div>

                </div>

                <!--Team Block-->

                <div class="team-block">

                    <div class="inner-box">

                        <div class="image-box">

                            <figure class="image"><img src="images/resource/team-image-4.jpg" alt=""></figure>

                            <div class="hover-box">

                                <div class="hover-inner">

                                    <div class="hover-upper">

                                        <div class="icon-box"><span class="flaticon-chat"></span></div>

                                        <h6>Get Touch With Me</h6>

                                    </div>

                                    <div class="hover-lower">

                                        <ul class="info">

                                            <li><a href="tel:+44-800-123-45">+44 800 123 45</a></li>

                                            <li><a href="mailto:elvina@citygov.com">elvina@citygov.com</a></li>

                                        </ul>

                                        <ul class="social-links clearfix">

                                            <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>

                                            <li><a href="#"><span class="fab fa-twitter"></span></a></li>

                                            <li><a href="#"><span class="fab fa-linkedin-in"></span></a></li>

                                        </ul>

                                    </div>

                                </div>

                            </div>

                        </div>

                        <div class="lower-box">

                            <h4><a href="#">Marian Lenora</a></h4>

                            <div class="designation">Speaker</div>

                        </div>

                    </div>

                </div>


                <!--Team Block-->

                <div class="team-block">

                    <div class="inner-box">

                        <div class="image-box">

                            <figure class="image"><img src="images/resource/team-image-1.jpg" alt=""></figure>

                            <div class="hover-box">

                                <div class="hover-inner">

                                    <div class="hover-upper">

                                        <div class="icon-box"><span class="flaticon-chat"></span></div>

                                        <h6>Get Touch With Me</h6>

                                    </div>

                                    <div class="hover-lower">

                                        <ul class="info">

                                            <li><a href="tel:+44-800-123-45">+44 800 123 45</a></li>

                                            <li><a href="mailto:elvina@citygov.com">elvina@citygov.com</a></li>

                                        </ul>

                                        <ul class="social-links clearfix">

                                            <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>

                                            <li><a href="#"><span class="fab fa-twitter"></span></a></li>

                                            <li><a href="#"><span class="fab fa-linkedin-in"></span></a></li>

                                        </ul>

                                    </div>

                                </div>

                            </div>

                        </div>

                        <div class="lower-box">

                            <h4><a href="#">Bertram Irvin</a></h4>

                            <div class="designation">Mayor</div>

                        </div>

                    </div>

                </div>

                <!--Team Block-->

                <div class="team-block">

                    <div class="inner-box">

                        <div class="image-box">

                            <figure class="image"><img src="images/resource/team-image-2.jpg" alt=""></figure>

                            <div class="hover-box">

                                <div class="hover-inner">

                                    <div class="hover-upper">

                                        <div class="icon-box"><span class="flaticon-chat"></span></div>

                                        <h6>Get Touch With Me</h6>

                                    </div>

                                    <div class="hover-lower">

                                        <ul class="info">

                                            <li><a href="tel:+44-800-123-45">+44 800 123 45</a></li>

                                            <li><a href="mailto:elvina@citygov.com">elvina@citygov.com</a></li>

                                        </ul>

                                        <ul class="social-links clearfix">

                                            <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>

                                            <li><a href="#"><span class="fab fa-twitter"></span></a></li>

                                            <li><a href="#"><span class="fab fa-linkedin-in"></span></a></li>

                                        </ul>

                                    </div>

                                </div>

                            </div>

                        </div>

                        <div class="lower-box">

                            <h4><a href="#">Elvina Julie</a></h4>

                            <div class="designation">Actuary</div>

                        </div>

                    </div>

                </div>

                <!--Team Block-->

                <div class="team-block">

                    <div class="inner-box">

                        <div class="image-box">

                            <figure class="image"><img src="images/resource/team-image-3.jpg" alt=""></figure>

                            <div class="hover-box">

                                <div class="hover-inner">

                                    <div class="hover-upper">

                                        <div class="icon-box"><span class="flaticon-chat"></span></div>

                                        <h6>Get Touch With Me</h6>

                                    </div>

                                    <div class="hover-lower">

                                        <ul class="info">

                                            <li><a href="tel:+44-800-123-45">+44 800 123 45</a></li>

                                            <li><a href="mailto:elvina@citygov.com">elvina@citygov.com</a></li>

                                        </ul>

                                        <ul class="social-links clearfix">

                                            <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>

                                            <li><a href="#"><span class="fab fa-twitter"></span></a></li>

                                            <li><a href="#"><span class="fab fa-linkedin-in"></span></a></li>

                                        </ul>

                                    </div>

                                </div>

                            </div>

                        </div>

                        <div class="lower-box">

                            <h4><a href="#">Herman Gordon</a></h4>

                            <div class="designation">Director</div>

                        </div>

                    </div>

                </div>

                <!--Team Block-->

                <div class="team-block">

                    <div class="inner-box">

                        <div class="image-box">

                            <figure class="image"><img src="images/resource/team-image-4.jpg" alt=""></figure>

                            <div class="hover-box">

                                <div class="hover-inner">

                                    <div class="hover-upper">

                                        <div class="icon-box"><span class="flaticon-chat"></span></div>

                                        <h6>Get Touch With Me</h6>

                                    </div>

                                    <div class="hover-lower">

                                        <ul class="info">

                                            <li><a href="tel:+44-800-123-45">+44 800 123 45</a></li>

                                            <li><a href="mailto:elvina@citygov.com">elvina@citygov.com</a></li>

                                        </ul>

                                        <ul class="social-links clearfix">

                                            <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>

                                            <li><a href="#"><span class="fab fa-twitter"></span></a></li>

                                            <li><a href="#"><span class="fab fa-linkedin-in"></span></a></li>

                                        </ul>

                                    </div>

                                </div>

                            </div>

                        </div>

                        <div class="lower-box">

                            <h4><a href="#">Marian Lenora</a></h4>

                            <div class="designation">Speaker</div>

                        </div>

                    </div>

                </div>


            </div>

        </div>

    </section>


    <!--Extended Info Section-->

    <section class="ext-info-section">

        <div class="pattern-layer" style="background-image: url(../../images/background/pattern-2.png);"></div>

        <div class="awards-row">

            <div class="auto-container">

                <div class="outer-container">

                    <div class="image-layer" style="background-image: url(../../images/background/image-12.jpg);"></div>

                    <div class="row clearfix">

                        <div class="column col-xl-6 col-lg-6 col-md-12">

                            <div class="award-block">

                                <div class="inner">

                                    <span class="slash">//////////</span>

                                    <h4><a href="#">City Plantation Award – 1988</a></h4>

                                    <div class="text">Blinded by desire, that they cannot foresee belongs which through
                                        shrinking.
                                    </div>

                                </div>

                            </div>

                            <div class="award-block">

                                <div class="inner">

                                    <span class="slash">//////////</span>

                                    <h4><a href="#">Environment Safety Award – 1995</a></h4>

                                    <div class="text">Trouble that are bound to ensue and equal to those city work who
                                        fail their duty.
                                    </div>

                                </div>

                            </div>

                        </div>

                        <div class="column col-xl-6 col-lg-6 col-md-12">

                            <div class="award-block">

                                <div class="inner">

                                    <span class="slash">//////////</span>

                                    <h4><a href="#">Architectural Heritage Award – 1996</a></h4>

                                    <div class="text">Foresee the pain and trouble that are bound to ensue and equal
                                        blame belongs.
                                    </div>

                                </div>

                            </div>

                            <div class="award-block">

                                <div class="inner">

                                    <span class="slash">//////////</span>

                                    <h4><a href="#">Municipal Projects & Services Award 2001</a></h4>

                                    <div class="text">Our power of choice untrammelled and when nothing prevents what
                                        like best.
                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

        <div class="content-row">

            <div class="auto-container">

                <div class="content">

                    <h4>Thinking of living in london city?</h4>

                    <h2>Everyone should live in a london city at least once.</h2>

                    <div class="link-box">

                        <a href="contact.twig" class="theme-btn btn-style-one"><span class="btn-title">Contact Us</span></a>

                    </div>

                </div>

            </div>

        </div>

    </section>


</div>

<!--End pagewrapper-->
{% endblock %}
