{% extends "template/main.twig" %}
{% block content %}
    <div class="page-wrapper">
{#        <!--Page Title-->#}
{#        <section class="blog-banner">#}
{#            <div class="image-layer" style="background-image:url(../images/background/banner-image-6.jpg);"></div>#}
{#            <div class="banner-inner">#}
{#                <div class="auto-container">#}
{#                    <div class="inner-container clearfix">#}
{#                        <div class="meta-info clearfix">#}
{#                            <a href="#"><span class="fa fa-folder"></span>Community Life</a> &ensp;/&ensp; <a#}
{#                                    href="#"><span class="fa fa-comment"></span>02 Comments</a>#}
{#                        </div>#}
{#                        <h1>Last chance to get your tickets for <br>christmas fireworks</h1>#}
{#                        <div class="author-info">#}
{#                            <figure class="image"><img src="images/resource/author-thumb-5.jpg" alt=""></figure>#}
{#                            <h6>By Julie Gordon</h6>#}
{#                        </div>#}
{#                        <div class="other-info clearfix">#}
{#                            <div class="date"><span>24.12.2019</span></div>#}
{#                            <div class="tags"><a href="#">Certificates, Drinks & Food, Free Style</a></div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </section>#}

        <div class="sidebar-page-container">

            <div class="auto-container">

                <div class="row clearfix">
                    <!--Content Side-->
                    <div class="content-side col-lg-8 col-md-12 col-sm-12">
                        <div class="content-inner">
                            <div class="single-post">
                                <div class="post-details">
                                    <div class="main-image-box">
                                        <figure class="image"><img src="{{ artikel.gambar_thumb }}" alt="">
                                        </figure>
                                    </div>
                                    <p>{{ artikel.isi_content | raw }}</p>
                                </div>
                                <div class="share-post">
                                    <strong>Bagikan ke :</strong>
                                    <ul class="links clearfix">
                                        <li class="facebook"><a href="#"><span
                                                        class="icon fab fa-facebook-f"></span><span
                                                        class="txt">Facebook</span></a></li>
                                        <li class="whatsapp"><a href="#"><span class="icon fab fa-whatsapp"></span><span
                                                        class="txt">Whatsapp</span></a></li>
                                        <li class="twitter"><a href="#"><span class="icon fab fa-twitter"></span><span
                                                        class="txt">Twitter</span></a></li>
                                    </ul>
                                </div>
                            </div>

                        </div>

                    </div>
                    <!--Sidebar Side-->
                    {% include "template/sidebar_blog.twig" %}
                </div>
            </div>
        </div>
    </div>
    <!--End pagewrapper-->
{% endblock %}