{% extends "template/main.twig" %}
{% block content %}
<div class="page-wrapper">

        <!--Page Title-->

{#        <section class="page-banner">#}

{#            <div class="image-layer" style="background-image:url(../images/background/banner-image-4.jpg);"></div>#}



{#            <div class="banner-inner">#}

{#                <div class="auto-container">#}

{#                    <div class="inner-container clearfix">#}

{#                        <h1>Our History</h1>#}

{#                        <div class="page-nav">#}

{#                            <ul class="bread-crumb clearfix">#}

{#                                <li><a href="index.html">Home</a></li>#}

{#                                <li><a href="#">City Govt</a></li>#}

{#                                <li class="active">Our History</li>#}

{#                            </ul>#}

{#                        </div>#}

{#                    </div>#}

{#                </div>#}

{#            </div>#}

{#        </section>#}

        <!--History Section-->

        <section class="history-section">

            <div class="image-layer" style="background-image:url(../../images/background/history-bg.png);"></div>

            <div class="pattern-layer" style="background-image: url(../../images/background/pattern-2.png);"></div>

            <div class="auto-container">

                <div class="sec-title with-separator centered">

                    <h2>Most Memorable Movements</h2>

                    <div class="separator"><span class="cir c-1"></span><span class="cir c-2"></span><span class="cir c-3"></span></div>

                    <div class="lower-text">Denounce with righteous indignation and dislike men who are so beguiled & demoralized our power of choice.</div>

                </div>



                <div class="history-container">

                    <div class="center-line"><span class="dot upper-dot"></span><span class="dot lower-dot"></span></div>

                    <div class="history-content">

                        <!--Block-->

                        <div class="history-block">

                            <div class="row clearfix">

                                <div class="image-col col-lg-6 col-md-12 col-sm-12">

                                    <div class="inner">

                                        <div class="year-box">
                                            <div class="year-inner"><span>1745</span></div>
                                        </div>

                                        <div class="image-box">

                                            <figure class="image"><img src="images/resource/featured-image-12.jpg" alt=""></figure>

                                        </div>

                                    </div>

                                </div>

                                <div class="text-col col-lg-6 col-md-12 col-sm-12">

                                    <div class="inner">

                                        <h6>London City</h6>

                                        <h3><a href="#">Council founded</a></h3>

                                        <div class="text">Blinded by desire thety cannot foresee belongs to which through shrinking which is the same as saying shrinking from toil and pain.</div>

                                    </div>

                                </div>

                            </div>

                        </div>

                        <!--Block-->

                        <div class="history-block alternate">

                            <div class="row clearfix">

                                <div class="image-col col-lg-6 col-md-12 col-sm-12">

                                    <div class="inner">

                                        <div class="year-box">
                                            <div class="year-inner"><span>1790</span></div>
                                        </div>

                                        <div class="image-box">

                                            <figure class="image"><img src="images/resource/featured-image-13.jpg" alt=""></figure>

                                        </div>

                                    </div>

                                </div>

                                <div class="text-col col-lg-6 col-md-12 col-sm-12">

                                    <div class="inner">

                                        <h6>Smart City</h6>

                                        <h3><a href="#">Drawing around city</a></h3>

                                        <div class="text">Owing to the claims of duty or the obligations of business it will frequently occur that pleasures have repudiated annoyances accepted.</div>

                                    </div>

                                </div>

                            </div>

                        </div>

                        <!--Block-->

                        <div class="history-block">

                            <div class="row clearfix">

                                <div class="image-col col-lg-6 col-md-12 col-sm-12">

                                    <div class="inner">

                                        <div class="year-box">
                                            <div class="year-inner"><span>1825</span></div>
                                        </div>

                                        <div class="image-box">

                                            <figure class="image"><img src="images/resource/featured-image-14.jpg" alt=""></figure>

                                        </div>

                                    </div>

                                </div>

                                <div class="text-col col-lg-6 col-md-12 col-sm-12">

                                    <div class="inner">

                                        <h6>Council Meeting</h6>

                                        <h3><a href="#">Save environmental</a></h3>

                                        <div class="text">Blinded by desire thety cannot foresee belongs to which through shrinking which is the same as saying shrinking from toil and pain.</div>

                                    </div>

                                </div>

                            </div>

                        </div>

                        <!--Block-->

                        <div class="history-block alternate">

                            <div class="row clearfix">

                                <div class="image-col col-lg-6 col-md-12 col-sm-12">

                                    <div class="inner">

                                        <div class="year-box">
                                            <div class="year-inner"><span>1900</span></div>
                                        </div>

                                        <div class="image-box">

                                            <figure class="image"><img src="images/resource/featured-image-15.jpg" alt=""></figure>

                                        </div>

                                    </div>

                                </div>

                                <div class="text-col col-lg-6 col-md-12 col-sm-12">

                                    <div class="inner">

                                        <h6>Lady Maror</h6>

                                        <h3><a href="#">First lady mayor in council</a></h3>

                                        <div class="text">Owing to the claims of duty or the obligations of business it will frequently occur that pleasures have repudiated annoyances accepted.</div>

                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </section>

    </div>
    <!--End pagewrapper-->
{% endblock %}